[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
jupyter = "*"
jupyterlab = "*"
pandas = "*"
numpy = "*"
matplotlib = "*"
seaborn = "*"
nltk = "*"
src = {editable = true,path = "."}

[packages]

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
